<h1>Where's Waldo?</h1>
<hr>

<div class="row">
  <div class="scores">
    <div class="col-sm-6">
      <h3 class='current-score text-center'></h3>
    </div>

    <div class="col-sm-6">
      <h3 class='best text-center'>Highest Score:</h3>
    </div>
  </div>  
</div>

<div class="row">
  <div class="img-container">
    <%= image_tag 'ww_giant_image.jpg' %>
  </div>   
</div>
 





 